@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #0E0E10;
  color: #c8c8cc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbars for immersive experience */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::selection {
  background-color: rgba(184, 92, 92, 0.3);
  color: #ffffff;
}
